
:root {
  --black-olive: #1f271bff;
  --indigo-dye: #0b4f6cff;
  --lapis-lazuli: #145c9eff;
  --dun: #cbb9a8ff;
  --pale-dogwood: #dcc7beff; 
  --heading-font: "rubrik dirt";
  --body-front: "rubrik"
  }

nav {
  width: fit-content;  /* or a fixed width like 600px */
  margin: 0 auto;
}

header {
    font-family: "rubik dirt";
}

h1 {
    font-family: "rubik dirt";
}

